/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
html,body,#root {
  height: 100%;
  background-color: #F6C654;
  /* font-family: 'Gabarito', sans-serif; */
  font-family: 'Inter', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* header, main, footer, #bucket-bar, #raindrops, 
  #raindrops h2, .raindrop, #raindrop-detail-container,
  #raindrop-details, #raindrop-headers, #raindrop-body {
  border: 1px solid black;
} */

/* HEADER */
header {
  padding: 10px;
  padding-bottom: 5px;
}

header img {
  height: 27px;
}

/* BUCKET BAR */
#bucket-bar {
  display: flex;
  align-items: center;
  background-color: #3C58D9;
  color:#F5F5F5;
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

#bucket-bar img {
  height: 27px;
}

#bucket-bar span {
  /* font-weight: 700; */
  /* text-transform: uppercase; */
}

#bucket-bar #bucketurl {
  /* font-family: 'Overpass Mono', monospace; */
  text-transform: lowercase;
}

#bucket-bar p {
  margin-right: 10px
}

#bucket-bar button {
  background-color: #F6C654;
  border: none;
  padding: 5px 15px;
  font-family: 'Gabarito', sans-serif;
}

#bucket-bar button:hover {
  background-color: #e9b334;
}
#bucket-bar button:active {
  background-color: #BE9E53;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* RAINDROPS */

#raindrops h2 {
  font-size: 1.5rem;
}
#raindrops {
  flex: 2;
  max-width: 450px;
  background-color: #FDECD8;
  height: 100%;
}

#raindrops h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 15px 10px;
  padding-bottom: 5px;
  font-size: 1.8rem;
}

.raindrops-date {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}

/* RAINDROP */
.raindrop {
  display: flex;
  column-gap: 10px;
  align-items: center;
  background-color: #F6C654;
}

.raindrop:hover {
  background-color: #3C58D9;
  color: #F5F5F5;
}

.raindrop:hover .sidebar {
  background-color: #F6C654;
}

.raindrop:hover .raindrop-method {
  color: #F6C654;
}

.raindrop .sidebar {
  width: 10px;
  height: 55px;
  background-color: #3C58D9;
}

.timestamp{
  font-size: .8rem;
}

.raindrop.active {
  background-color:#3C58D9;
  color: #F5F5F5;
}

.active .sidebar {
  background-color: #F6C654;
}

.active .raindrop-method {
  color:#F6C654;
}

.raindrop-method {
  font-weight: 700;
  color:#3C58D9
}

/* RAINDROP DETAILS */
#rightSection {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#raindrop-detail-container {
  display: flex;
  flex-direction: column;
  background-color: #FDECD8;
  margin: 10px;
  height: fit-content;
  max-height: -moz-max-content;
  max-height: max-content;
  font-size: .9rem;
  /* border: 1px solid #3C58D9; */
  filter: drop-shadow(.2rem .2rem 2px #BE9E53);
}

#raindrop-detail-container > p {
  padding: 10px;
}

/* DETAIL SECTIONS */
#raindrop-details, #raindrop-headers, #raindrop-body {
  display: flex;
  gap: 10px;
}

#raindrop-details p, #raindrop-headers p, #raindrop-body p, 
#raindrop-body pre, #raindrop-headers table {
  padding: 10px;
}

.hljs {
  background-color: #D9D9D9;
}

#raindrop-body {
  background-color:#D9D9D9 ;
}
.raindrop-detail-heading {
  background-color: #3C58D9;
  color:#F5F5F5;
  width: 60px;
  font-size: .8rem;

}

#raindrop-details #rd-method {
  font-weight: 700;
  color: #3C58D9;
}

#raindrop-headers table tr td:first-of-type{
  font-weight: 700;
  padding-right: 15px;;
}

/* NEW PAGE */
#newPage {
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  border: 15px solid #3C58D9;
  width: 850px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  font-family: 'Gabarito', sans-serif;
  background-color: #FDECD8;
  filter: drop-shadow(.3rem .3rem 3px #BE9E53);
}

#np-copyContainer {
  width: 600px;
  display: flex;
  gap: 25px;
  margin-right: -40px;
  align-items: flex-end;
}

#newPage button {
  padding: 20px;
  width: 350px;
  border: none;
  background-color: #3C58D9;
  color:#F5F5F5;
  font-family: 'Gabarito', sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
}
#newPage button:hover {
  background-color: #F6C654;
  color: #3C58D9;
}
#newPage button:active {
  color: #F6C654;
  background-color: #3C58D9;
}


#np-text {
  display: flex;
  flex-direction: column;
}

#newPage div img{
  height: 210px;
}

#np-text h1 {
  font-size: 3rem;
  margin-bottom: -5px;
}

#np-text p {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

/* FOOTER */
footer {
  text-align: center;
  margin-bottom: 10px;
}

footer a, footer a:visited {
  color: #F5F5F5;
  text-transform: uppercase;
  text-decoration: none;
}

footer a:hover {
  color:#3C58D9;
  text-transform: uppercase;
  text-decoration: none;
}

/* ABOUT US */
#about-us {
  display: flex;
  justify-content: center;
  padding: 80px;
  background-color: #3C58D9;
}

#about-us img {
  height: 500px;
}

#about-us-blurb {
  background-color: #FDECD8;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
  margin-bottom: 20px;
  padding: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  filter: drop-shadow(.2rem .2rem 2px #BE9E53);
}

#about-us-blurb h2 {
  font-size: 2rem;
  font-family: 'Gabarito', sans-serif;
}

#about-us-blurb p {
  font-size: 1.2rem;
}

#about-us-blurb a:visited {
  color: black;
}

#about-us-blurb a:hover {
  color:#3C58D9;
}

#about-us-blurb a:active {
  color:#2e44a9;
}
